@charset "utf-8";
/* CSS Document*/
body{
    background-color:#ffffff;
    margin:0px;
    padding:0px;
}
 
ul{
    list-style:none;
}
 
a{
    text-decoration:none;
}
 
section{
    width:100%;
    position: relative;
}
 
nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:60px;
    background-color:#319e49;
    padding:0px 5%;
     
}
nav ul{
    display: flex;
}
  
nav ul li a{
    margin:30px;
    font-family: calibri;
    color:#ffffff;
    font-size: 25px;
    font-weight:700;
}

nav ul li a:hover{
    color: #00ff22;
}
 
.logo{
    font-family: calibri;
    color:#ffffff;
    font-size: 40px;
    font-weight: bold;
}

.text1 {
    display:flex;
    align-items:center;
    height:80px;
    background-color:#c6ccc2;
    box-shadow:2px 2px 18px rgba(0,0,0,0.3);
    padding-left:550px;
    font-size: 40px;
}

.text1 p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #000000;
    font-size: 24px;
    text-align: center;
}

.text2 {
    float: left;
    width: 1000px;
    margin-left: 30px;
    padding: 10px;
}
 
.text2 p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #000000;
    font-size: 24px;
    text-align: center;
}
 
.text2 p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 2px;
    color: #444444;
    font-size: 16px;
    text-align: center;
}
 
.text2 p:nth-child(3){
    font-family: myriad pro regular;
    color: #000000;
    font-size: 16px;
    line-height: 16px;
}
 
.text2 p:nth-child(4){
    font-family: myriad pro regulari;
    color: #000000;
    font-size: 16px;
    line-height: 16px;
}

.text2 img{
    width: 150px;
    height: 240px;
    margin-left: 20px;
}

#content{
    float: inline-start;
    width: 210px;
    margin-left: 1000px;
    padding: 70px;
    background: #76f892;
    position: relative;
}

.text3 p:nth-child(1){
    font-family: calibri;
    text-align: justify;
    color: #ffffff;
    font-size: 35px;
    line-height: 10px;
}

.text3 p:nth-child(2){
    font-family: calibri;
    text-align: justify;
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
    border-bottom: 5px solid rgb(101, 167, 25);
    border-top: 5px solid rgb(101, 167, 25);
}

.text3 p:nth-child(3){
    font-family: calibri;
    text-align: justify;
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
    border-bottom: 5px solid rgb(101, 167, 25);
    border-top: 5px solid rgb(101, 167, 25);
}

.text3 img{
    width: 80px;
    height: 100px;
    margin-bottom: 10px;
}
   
#contact {
    background: #319e49;
    padding:30px 0px 30px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'calibri';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #ffffff;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 20px 0px 20px 0px;
    margin-top: 20px;
}

